.columna{
    width: 50%;
    box-sizing: border-box;
    padding: 0.625em;
}

.columna.left{
    /* border-right: 2px solid red; */
}

.columna.left h2{
    /* border-right: 2px solid red; */
    color: black;
}

.columna.right h2{
    /* border-right: 2px solid red; */
    color: black;
}

.columna.right p{
    font-size: 0.9em
}

.columna.right ul li{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.0em;
    /* position: relative; */
}

.columna.right ul li img{
    /* margin-top: 25%; */
    /* display: inline; */
    vertical-align:text-top;
}

.formulario label{
    vertical-align: top;
    width: 20%;
    display: inline-block;  /*con el inline-block me tabula las cajitas*/
    background-color: yellow;
}

.formulario input,
.formulario textarea{
    /* background-color: #ddd; */
    background-color: antiquewhite;
    border-radius: 5px;
    border: 1px solid #999;
    padding: 0.4em 0.6em;
    font-size: 0.8em;
    width: 90%;
    outline: none;
}

.formulario textarea{
    resize: none;
    height: 18em;
    outline: none;
}

.formulario input[type="submit"]{
    background-color: #6da9ed;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    color: white;
    font-size: 1em;
    width: auto;
    cursor: pointer;
}

.formulario textarea{
    resize: none;
    height: 10em;
    outline: none;
}

.formulario .acciones{
    resize: none;
    height: 8em;
    text-align: center;
    outline: none;
}

.columna.right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* inline-size: auto; */
    /* text-align: center; */
    /* display: inline-block; */
    background-color: antiquewhite;
    border-radius: 3px;
    border: 1px solid black;
    opacity: 80%;
  }

  .input-icono {
    background-image: url('./../../../../public/img/contacto/whatsapp3.png');
    background-repeat: no-repeat;
    background-position: 4px center;
    background-size: 18px;
    display: flex;
    align-items: center;
    width: 400px;
    padding-left: 28px;
    height: 25px;
    border: 1px solid grey;
    border-radius: 5px;
  }
  .input-icono input {
    width: 100%;
    font-size: 0.8em;
    border: none;
  }
  .input-icono input:focus {
    outline: none;
  }